$textColor: #333;
$pageColor: #F6F3FB;
$headerColor: #CAA7FE;
$interiorPageColor: #EDE1FF;

body {
  background-color: $pageColor;
}

/*JUMBOTRON*/
.jumbotron {
  background-color: $headerColor;
  padding-left: 3em;
}

/*HEADER NAV-BAR*/
.head {
  float: right;
}

.index-head {
  color: $textColor;
}
.index-head:hover {
  color: $textColor;
  text-decoration: none;
}
.index-head:active {
  text-decoration: none;
}

.about-head {
  color: $textColor;
  padding-right: 2em;
  .about-head:hover {
    color: $textColor;
    text-decoration: none;
  }
  .about-head:active {
    text-decoration: none;
  }
}

.contact-head {
  color: $textColor;
  .contact-head:hover {
    color: $textColor;
    text-decoration: none;
  }
  .contact-head:active {
    text-decoration: none;
  }
}

.footer-bar {

}

/*PAGE HEADERS*/
.banner {
  text-align: right;
  padding-right: 1em;
}

/*QUESTION TILE VIEW*/
.view-question {
  background-color: $interiorPageColor;
  width: 45em;
  padding-top: 25px;
  margin-top: 0px;
  height: 1000px;
}
.view-author {

}

.view-a-body {
  color: $textColor;
  .view-a-body:hover {
    color: $textColor;
    text-decoration: none;
  }
}

/*INDEX PAGE*/
.question-list li {
  text-decoration: none;
}

.question-list h5 {
  color: $textColor;
  .question-list:hover {
    text-decoration: none;
  }
}

.question-tile

/*ABOUT PAGE*/
.about {
  background-color: $interiorPageColor;
  width: 45em;
  padding-top: 25px;
  margin-top: 0px;
  height: 1000px;
}

.about-links {
  float: right;
  z-index: 0;
}

/*CONTACT PAGE*/
.contact {
  background-color: $interiorPageColor;
  width: 45em;
  padding-top: 25px;
  margin-top: 0px;
  height: 1000px;
}

/*BUTTONS*/
.new-button {

}
.new-button:hover {

}

.edit-button {

}
.edit-button:hover {

}

.button-container {
  display: inline;
}

/*FORMS*/
