$textColor: #333;
$pageColor: #F6F3FB;
$headerColor: #AF87DC;
$interiorPageColor: #EDE1FF;
$detailColor: #B8DE23;
$hoverDetailColor: #94b31b;

body {
  background-color: $pageColor;
}

/*JUMBOTRON*/
.jumbotron {
  background-color: $headerColor;
  padding-left: 3em;
}

/*HEADER NAV-BAR*/
.index-head {
  color: $textColor;
  .index-head:hover {
    color: $textColor;
    text-decoration: none;
  }
  .index-head:active {
    text-decoration: none;
  }
}

.about-head {
  color: $textColor;
  padding-right: 2em;
  &:hover {
    color: $textColor;
    text-decoration: none;
  }
  &:active {
    text-decoration: none;
  }
}

.contact-head {
  color: $textColor;
  &:hover {
    color: $textColor;
    text-decoration: none;
  }
  &:active {
    text-decoration: none;
  }
}

.header-bar {
  background-color: $detailColor;
}
.footer-bar {
  background-color: $detailColor;
}

/*PAGE HEADERS*/
.banner {
  text-align: right;
  padding-right: 1em;
}

/*QUESTION TILE VIEW*/
.view-question {
  background-color: $interiorPageColor;
  width: 45em;
  padding-top: 25px;
  margin-top: 0px;
  height: 1000px;
}
.view-author {

}

.view-a-body {
  color: $textColor;
  &:hover {
    color: $textColor;
    text-decoration: none;
  }
}

/*INDEX PAGE*/
.question-list li {
  text-decoration: none;
}

.question-list h5 {
  color: $textColor;
  &:hover {
    text-decoration: none;
  }
}

.index-view {
  margin-top: 3em;
}

.question-tile

/*ABOUT PAGE*/
.about {
  background-color: $interiorPageColor;
  width: 45em;
  padding-top: 25px;
  margin-top: 0px;
  height: 1000px;
}

.about-links {
  float: right;
  z-index: 0;
}

/*CONTACT PAGE*/
.contact {
  background-color: $interiorPageColor;
  width: 45em;
  padding-top: 25px;
  margin-top: 0px;
  height: 1000px;
}

/*BUTTONS*/
.save-button {
  background-color: $detailColor;
  color: $textColor;
  &:hover {
    background-color: $hoverDetailColor !important;
  }
}

.cancel-button {
  &:hover {

  }
}

.button-container {
  display: inline;
}

.btn {
  margin-top: .5em;
  margin-bottom: .5em;
  margin-left: .5em;
}

/*FORMS*/

  /*ASK QUESTION*/

  .ask-question-form {
    font-size: 1em;
  }

  label{
    display: inline-block;
    float: left;
    clear: left;
    width: 100px;
    text-align: right;
  }
  input {
    display: inline-block;
    float: left;
    margin-bottom: 1em;
    margin-left: 1em;
  }
  textarea {
    display: inline-block;
    float: left;
    margin-bottom: 1em;
  }

/*BOOKMARKS DISPLAY*/
.display-favorites {

}

.bookmark-question {

}

.bookmark-name {

}
