<div class="header jumbotron">
  <h3 class="banner">About Us</h3>
</div>
<div class="container about">
  <div class="col-sm-6 col-sm-offset-3">
    <p>Ask is a new and innovative site to get all of your every day questions answered.</p>
  </div>
</div>
