<div class="jumbotron header">
  <h1 class="banner">Ask</h1>
</div>

<div class="container">
  <h3>Questions:</h3>
  <ul class="question-list">
    {{#each model as |question|}}
      {{question-tile question=question destroyQuestion="destroyQuestion" updateQuestion="updateQuestion"}}
    {{/each}}
  </ul>
</div>

<div class="container">
  {{new-question saveQuestion="saveQuestion"}}
</div>
