<div class="container">
{{question-detail question=model.questions deleteQuestion="deleteQuestion"}}

{{edit-question question=model.questions updateQuestion="updateQuestion"}}

{{new-answer answer=model.answers question=model.questions saveAnswer="saveAnswer"}}

{{answer-tile answer=model.answers question=model.questions updateAnswer="updateAnswer" deleteAnswer="deleteAnswer"}}
</div>
